<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://root:fsa41306@localhost:3306/tcc</property>
        <property name="connection.username">root</property>
        <property name="connection.password">fsa41306</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="current_session_context_class">thread</property>
        <property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>
        <property name="show_sql">true</property>
        <property name="hibernate.id.new_generator_mappings">true</property>
                <mapping class="br.com.mba.engenharia.de.software.negocio.usuarios.Usuario" />
                <mapping class="br.com.mba.engenharia.de.software.negocio.contas.Conta" />
                <mapping class="br.com.mba.engenharia.de.software.negocio.contas.Contas" />
    </session-factory>
</hibernate-configuration>